<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zproject.name %>
</p>
<ul>
<% @ztasks.each do |ztask| %>
<li><%= ztask.name %> <%= link_to 'Show Ztask', zproject_ztask_path(@zproject, ztask) %> <%= link_to 'Edit Ztask', edit_zproject_ztask_path(@zproject, ztask) %> <%= link_to 'Destroy', [@zproject, ztask], confirm: 'Are you sure?', method: :delete %></li>
<% end %>
<li><%= link_to 'New Ztask', new_zproject_ztask_path(@zproject) %></li>
</ul>

<%= link_to 'Edit', edit_zproject_path(@zproject) %> |
<%= link_to 'Back', zprojects_path %>
