<p id="notice"><%= notice %></p>

<h1>Listing Ztasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Zproject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ztasks.each do |ztask| %>
      <tr>
        <td><%= ztask.name %></td>
        <td><%= ztask.zproject_id %></td>
        <td><%= link_to 'Show', ztask %></td>
        <td><%= link_to 'Edit', edit_ztask_path(ztask) %></td>
        <td><%= link_to 'Destroy', ztask, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ztask', new_ztask_path %>
