<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ztask.name %>
</p>

<p>
  <strong>Zproject:</strong>
  <%= @ztask.zproject_id %>
</p>

<%= link_to 'Edit', edit_ztask_path(@ztask) %> |
<%= link_to 'Back', ztasks_path %>
