<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>Time Logger</title>
  <base href="/">
  <%= stylesheet_link_tag "application", :media => "all" %>


</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right">
				<% if user_signed_in? %>
	  			<%= link_to('Edit profile', edit_user_registration_path, target:  "_self", class:"btn btn-link") %>
				  <%= button_to('Logout', destroy_user_session_path, method: :delete, class:"btn btn-link", form_class: "pull-right") %>
				<% else %>
	  			<%= link_to('Login', new_user_session_path, class:"btn btn-link")  %>
	  			<%= link_to('Register', new_user_registration_path, class:"btn btn-link float-right")  %>
				<% end %>
			</div>
		</div>
	</div>
	<% flash.each do |name, msg| %>
      	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
  	<div ng-view></div>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
